<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>차량 등록 | GarageCare</title>
</head>

<body>

<main>

    <h1>차량 등록</h1>

    <form th:action="@{/vehicles}"
          th:object="${form}"
          method="post">

        <div>
            <label for="vehicleNumber">
                차량번호
            </label>

            <input type="text"
                   id="vehicleNumber"
                   th:field="*{vehicleNumber}">

            <p th:if="${#fields.hasErrors('vehicleNumber')}"
               th:errors="*{vehicleNumber}">
            </p>
        </div>

        <div>
            <label for="manufacturer">
                제조사
            </label>

            <input type="text"
                   id="manufacturer"
                   th:field="*{manufacturer}">
        </div>

        <div>
            <label for="model">
                모델
            </label>

            <input type="text"
                   id="model"
                   th:field="*{model}">

            <p th:if="${#fields.hasErrors('model')}"
               th:errors="*{model}">
            </p>
        </div>

        <div>
            <label for="modelYear">
                연식
            </label>

            <input type="number"
                   id="modelYear"
                   th:field="*{modelYear}">
        </div>

        <button type="submit">
            차량 등록
        </button>

    </form>

</main>

</body>
</html>